
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Daftar Harga — vanvan store</title>
	<link rel="shortcut icon" href="https://vanvanstore.com/assets/images/1700717527_96adc9f0b8e76a51f70e.jpg">

  <meta name="description" content="vanvan store menyediakan layanan Top up game dan Reseller Voucher Game termurah dan terpercaya di Indonesia.">
  <meta name="keyword" content="vanvan store, top up game, freefire, ff, mobile legend, Top up , Isi ulang , Voucher , Beli ">
  <meta name="author" content="">
  <meta name="theme-color" content="#11143A" />
  <meta name="robots" content="index, follow">
  <meta content="desktop" name="device">
  <meta name="coverage" content="Worldwide">
  <meta name="apple-mobile-web-app-title" content="vanvan store — Daftar Harga">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://vanvanstore.com">
  <meta property="og:title" content="vanvan store — Daftar Harga">
  <meta property="og:description" content="vanvan store menyediakan layanan Top up game dan Reseller Voucher Game termurah dan terpercaya di Indonesia.">
  <meta property="og:image" content="">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
	<link rel="stylesheet" href="https://vanvanstore.com/assets/css/toastr.min.css">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://vanvanstore.com/assets/css/swiper.css">
  <link rel="stylesheet" href="https://vanvanstore.com/assets/css/style.css">
  <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>

		
</head>
<body>
  <nav class="navbar active">
    <div class="container">
        <div class="navLeft">
                <img src="https://vanvanstore.com/assets/images/1700717527_96adc9f0b8e76a51f70e.jpg" onclick="window.location.href='https://vanvanstore.com'" alt="">
                <div class="logoName">vanvan store</div>
        </div>
        <div class="navRight">
            <form action="https://vanvanstore.com/search" method="GET">
                <div class="navSearch">
                    <input type="text" name="keyword" id="searchInput" value="" placeholder="Cari Game">
                    <i class="bi bi-search"></i>
                </div>
            </form>
                                        <a href="https://vanvanstore.com/account/" class="btnYellowPrimary login">Dashboard</a>
                        <div class="containerMenu">
                <div class="dropdown">
                    <button class="dropdownMenu shadow">
                        <i class="bi bi-grid-fill"></i>
                    </button>
                    <div class="dropdown-content">
                    <a href="https://vanvanstore.com">
                        <div class="containers">
                            <i class="bi bi-house-door-fill"></i>
                            <div class="name">Beranda</div>
                        </div>
                        <i class="bi bi-arrow-right-short"></i>
                    </a>
                    <a href="https://vanvanstore.com/price">
                        <div class="containers">
                            <i class="bi bi-tags-fill"></i>
                            <div class="name">Daftar Harga</div>
                        </div>
                        <i class="bi bi-arrow-right-short"></i>
                    </a>
                    <a href="https://vanvanstore.com/transaksi">
                        <div class="containers">
                            <i class="bi bi-receipt-cutoff"></i>
                            <div class="name">Lacak Pesanan</div>
                        </div>
                        <i class="bi bi-arrow-right-short"></i>
                    </a>
                    <a href="https://vanvanstore.com/blog">
                        <div class="containers">
                            <i class="bi bi-newspaper"></i>
                            <div class="name">Artikel</div>
                        </div>
                        <i class="bi bi-arrow-right-short"></i>
                    </a>
                    <a href="https://vanvanstore.com/kalkulator">
                        <div class="containers">
                            <i class="bi bi-calculator-fill"></i>
                            <div class="name">Kalkulator</div>
                        </div>
                        <i class="bi bi-arrow-right-short"></i>
                    </a>
                    </div>
                </div>
            </div>

            <label class="theme-switch shadow">
                <input class='toggle-checkbox' id="checkbox" type='checkbox'></input>
                <div class="switch-icon">
                    <i class="bi bi-brightness-high yellowprim"></i>
                </div>
            </label>
        
        </div>
    </div>
</nav>
  <div class="mobileNav">
		            <a href="https://vanvanstore.com" class="containers ">
				<i class="bi bi-house-door-fill"></i>
				<div class="text">Beranda</div>
			</a>
            <a href="https://vanvanstore.com/blog" class="containers ">
				<i class="bi bi-newspaper"></i>
				<div class="text">Artikel</div>
			</a>
			<a href="https://vanvanstore.com/transaksi" class="containers ">
				<i class="bi bi-receipt-cutoff"></i>
				<div class="text">Riwayat</div>
			</a>
			<a href="https://vanvanstore.com/price" class="containers active">
				<i class="bi bi-tags-fill"></i>
				<div class="text">Pricelist</div>
			</a>
			
			                            <a href="https://vanvanstore.com/account" class="containers ">
					<i class="bi bi-person-fill"></i>
					<div class="text">Profile</div>
				</a>
            	</div>

  	<section>
		<div class="container container-track">
            <div class="row justify-content-center">
				<div class="col-md-10">
					<div class="title-head text-left mb-3 mt-3">Daftar Harga</div>
					<div class="cards shadow mb-4">
						<div class="nowrap-left">
						</div>

						<div class="tab-content mt-0">
															<div
									class="tab-pane fade show active"
									id="games-50"
									role="tabpanel"
								>
									<div class="table-responsive">
										<table class="table">
											<tr>
												<td colspan="4">
													<h6 class="cards-title pt-4">LifeAfter Login</h6>
												</td>
											</tr>
											<tr class="text-dark">
												<th>Produk</th>
												<th nowrap="">Harga Tamu</th>
												<th nowrap="">Harga Member</th>
												<th width="10">Status</th>
											</tr>
																							<tr class="text-dark">
													<td style="white-space: nowrap;">Life After Membership</td>
													<td style="white-space: nowrap;">Rp 65.000</td>
													<td style="white-space: nowrap;">Rp 64.000</td>
													<td style="white-space: nowrap;">
														<span class="text-success">Normal</span>	
													</td>
												</tr>
																							<tr class="text-dark">
													<td style="white-space: nowrap;">Life After Lucky Star</td>
													<td style="white-space: nowrap;">Rp 135.000</td>
													<td style="white-space: nowrap;">Rp 134.000</td>
													<td style="white-space: nowrap;">
														<span class="text-success">Normal</span>	
													</td>
												</tr>
																							<tr class="text-dark">
													<td style="white-space: nowrap;">Life After Sumer Pack </td>
													<td style="white-space: nowrap;">Rp 195.000</td>
													<td style="white-space: nowrap;">Rp 194.000</td>
													<td style="white-space: nowrap;">
														<span class="text-success">Normal</span>	
													</td>
												</tr>
																							<tr class="text-dark">
													<td style="white-space: nowrap;">Life After Benefit Fund</td>
													<td style="white-space: nowrap;">Rp 195.000</td>
													<td style="white-space: nowrap;">Rp 194.000</td>
													<td style="white-space: nowrap;">
														<span class="text-success">Normal</span>	
													</td>
												</tr>
																							<tr class="text-dark">
													<td style="white-space: nowrap;">Summer Pack DEluxe</td>
													<td style="white-space: nowrap;">Rp 265.000</td>
													<td style="white-space: nowrap;">Rp 260.000</td>
													<td style="white-space: nowrap;">
														<span class="text-success">Normal</span>	
													</td>
												</tr>
																					</table>
									</div>
								</div>
													</div>
					</div>
				</div>
			</div>
        </div>
        <div class="h-40"></div>
		        <div class="footer">
			<div class="container">
				<div class="logo">
					<img
					src="https://vanvanstore.com/assets/images/1700717527_96adc9f0b8e76a51f70e.jpg"
					alt=""
					/>
					<div class="names">vanvan store</div>
				</div>
				<div class="desc mx-auto">
					vanvan store menyediakan layanan Top up game dan Reseller Voucher Game termurah dan terpercaya di Indonesia.				</div>
				<div class="sosmed">
										<a href="https://instagram.com/" class="containers text-white">
						<i class="bi bi-instagram"></i>					</a>
										<a href="https://www.facebook.com/vnurva86?mibextid=ZbWKwL" class="containers text-white">
						<i class="bi bi-facebook"></i>					</a>
									</div>
				<div class="bottomFoot">
					<div class="copyright">
						<div class="text">
							Copyright © <script>document.write(new Date().getFullYear());</script> vanvan store - All Right Reserved
						</div>
					</div>
					<div class="linkFoot">
						<div class="containers">
							<a href="https://vanvanstore.com">Home</a>
							<a href="https://vanvanstore.com/#produk">Topup</a>
							<a href="https://vanvanstore.com/terms">Syarat & Ketentuan</a>
							<a href="https://vanvanstore.com/kontak">Hubungi Kami</a>
						</div>
					</div>
				</div>
                <div class="h-40"></div>
			</div>
		</div>	</section>
	    
  <a href="https://wa.me/6285797451511" class="floating-contact d-flex justify-content-center gap-1 flex-column contact" 
  tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Contact CS Kami Via Whatsapp">
    <!-- <img src="assets/img/logo.svg" alt=""> -->
    <span class="text-white">CHAT CS</span>
  </a>

  <a id="backToTopBtn" onclick="scrollToTop()" class="floating-btu d-flex justify-content-center gap-1 flex-column contact" 
  tabindex="0">
    <i class="bi bi-arrow-up"></i>
  </a>

  <script src="https://vanvanstore.com/assets/js/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="https://vanvanstore.com/assets/js/script.js"></script>

  
  
  
  <script>
	  setInterval(function() {
		  $("#toolbarContainer").remove();
	  }, 500);

	  function salin(text, label_text) {

		  navigator.clipboard.writeText(text);

		  toastr.success(label_text);
	  }
  </script>

      <script>
		function go_section(id) {

			var buttons = document.querySelectorAll('.btnNavTabs');
			buttons.forEach(function(button) {
				button.classList.remove('active');
			});

			var activeButton = document.querySelector('.btnNavTabs[data-bs-target="#games-' + id + '"]');
			if (activeButton) {
				activeButton.classList.add('active');
			}

			var tabs = document.querySelectorAll('.tab-pane');
			tabs.forEach(function(tab) {
				tab.classList.remove('show', 'active');
			});

			var activeTab = document.querySelector('#games-' + id);
			if (activeTab) {
				activeTab.classList.add('show', 'active');
			}
		}
	</script>
	</body>
</html>